<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'actions/css/bootstrap.css' %}">


</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Manage Your Car</h2>
        {% block content %}    {% endblock content %}

    </div>
    <script src="{% static 'actions/js/bootstrap.js'%}"></script>
    <script src="{% static 'actions/js/popper.js'%}"></script>
    <script src="{% static 'actions/js/jquery.js'%}"></script>
</body>
</html>